@charset "utf-8";

// 호출
// animation: layerHorizontalClose 1s 0s ease 1 backwards;

@keyframes TEST {
    0%{
        bottom: 5%;
    }
    50%{
        bottom: 4%;
    }
    100%{
        bottom: 5%;
    }
}
