
body.web-view {
    height: 100%;
}
.page-wrapper-web > header,
.card-event-header.web-view {
    position: fixed; left: 0; top: 0; z-index: 100;background: #fff;
}
.module-group.web-view {
    padding-top: 57px;
}
/* --------------------------------------------------------------- *
 *  Page - layout
 * --------------------------------------------------------------- */

/* Page wrapper */
.page-wrapper-web {
    position: relative;
    width: 100%; height: 100%;
    min-height: calc(100% - 5rem);
    padding-bottom: 5rem;;
}
.page-wrapper-web > *:not(.btn-go-top) { width: 100vw; }
.page-wrapper-web footer .btn-box {
    position: fixed !important;
    left: 0; bottom: 0;
}
.page-wrapper-web.main {
    background-color: var(--c-gray-100);
    overflow: hidden;
    overflow-y: auto;
}
.page-wrapper-web.main .module-box { padding: 2rem var(--main-padding); }
.page-wrapper-web { 
    overflow: hidden;
    overflow-y: auto;
}
.page-wrapper-web > header {
    position: fixed;
    left: 0; top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    border-bottom: 1px solid var(--c-gray-300);
    padding: 0.8rem;
}
.page-wrapper-web > header h1 {
    max-width: calc(100% - 80px);
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 1.1;
    margin: 0 auto;
}
.page-wrapper-web > header .sub-prev,
.page-wrapper-web > header .sub-close {
    position: absolute;
    width: 4.2rem;
    height: 4.2rem;
    font-size: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: 50% 50%;
    border: 0;
    padding: 0;
}
.page-wrapper-web > header .sub-prev {
    order: -1;
    left: 0.6rem;
    background-image: url(../new_images/icons/ico_previous.svg);
}
.page-wrapper-web > header .sub-close { 
    right: 0.6rem;
    background-image: url(../new_images/icons/ico_close.svg); 
}

/* Module box */
.module-group.web {
    padding-top: 5.1rem;
}

